  <footer>
    <div class="footer-content">
      <h3>ProPlanning</h3>
      <p class="footer-para">"ProPlanning is your go-to project management solution, designed to simplify your workflow
        and elevate your project success. With a user-centric approach and a team of passionate innovators behind us,
        we're dedicated to providing a comprehensive and scalable platform. Join us in transforming the way you manage
        projects—ProPlanning, your partner in project success."</p>

    </div>
    <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Proplanning</a> </p>
    </div>
  </footer>