<header>
    <h1 class="head">ProPlanning</h1>

    <div class="options" id="navid">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <a href="#">Home</a>
    <a href="#whyproplannig">Why ProPlanning?</a>
    <a href="#aboutus">About us</a>
    </div>
</header>